<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Log-in to see your movies </a> </p>
    <form action="/account" method="post">
      <div>
          <label for="username">Username</label>
          <input type="text" id="username" name="username">
      </div>
      <div>
          <label for="password">Password</label>
          <input type="password" id="password" name="password">
          <button type="submit">Log-in</button>
      </div>
    </form>

    <p>Don't have an account, <a href="/register">click here to register! </a> </p>
    <p><strong><%= message %></strong></p>
  </body>



</html>
